HELP.md
node_modules/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### React app specific ###
/frontend/node_modules/        # Ignore node_modules inside frontend (React app)
frontend/build/                # Ignore build directory (React app production build)
frontend/.env                  # Ignore environment variables for frontend

# General Ignore
.DS_Store                       # macOS specific
Thumbs.db                       # Windows specific
*.log                           # Log files

